extends layout

block content
  #trips
    .table.table-header
      .select
        input#selectall(type="checkbox" checked)
      .startTime Start Time
      .endTime End Time
      .duration Time
      .startLocation Start Location
      .endLocation End Location
      .distance Dist
      .mpg MPG
      .fuelCost Fuel
  .loading

