extends layout

block content
  .panel.panel-default.sign-in
    .panel-body.row
      .col-md-4.description Trip Tracker shows your trips taken with <a href="http://automatic.com" target="_blank">Automatic Link</a> and allows you to easily categorize and export them.
      .col-md-6
        a.center-block.btn.btn-primary.btn-lg(href="/authorize/") <span class="icon automatic-logo"></span>Sign in with Automatic

